// 文字
@font-face {
  font-family: EN;
  font-weight: 400;
  src: url('../../../public/fengos/demo/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: EN;
  font-weight: 700;
  src: url('../../../public/fengos/demo/fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: CN;
  src: local('PingFang SC'), local('Microsoft YaHei');
}

@mixin font-height($size, $isN: false) {
  @if $isN==true {
    font-size: $size;
    line-height: $size * 1.5;
  }

  @else {
    font-size: $size;
    line-height: $size;
  }
}

// 颜色
$color-bg: linear-gradient(to bottom, #525662, #3f444e);
$color-white: #fff;
$color-black: #292b2f;
$color-veil: #000;
$color-main: #26ebdb;

// 栅格
$safe-v: 80px;
$safe-h: 60px;
$grid-gap: 40px;
$grid-min: 10px;

// 通用页面
html {
  overflow: hidden;
}

.page {
  width: 1920px;
  height: 1080px;
  background: $color-bg;
  font-family: EN, CN, sans-serif;
  position: relative;
  overflow: hidden;

  transform: scale(0.5);
  transform-origin: 0 0;
}