// 行高
$line-h: 1.6;

// 颜色
$color-bg: linear-gradient(to bottom, #525662, #3f444e);
$color-white: #fff;
$color-black: #292b2f;
$color-veil: #000;
$color-main: #26ebdb;

// 栅格
$page-w: 1920px;
$page-h: 1080px;
$safe-v: 80px;
$safe-h: 60px;
$grid-gap: 40px;
$grid-min: 10px;

// 圆角
$corner: 10px;

// 动效曲线
$curve-stand: cubic-bezier(0.4, 0.0, 0.2, 1);
$curve-decel: cubic-bezier(0.0, 0.0, 0.2, 1);
$curve-accel: cubic-bezier(0.4, 0.0, 1.0, 1);
$curve-sharp: cubic-bezier(0.4, 0.0, 0.6, 1);
$curve-ease: cubic-bezier(0.25, 0.1, 0.25, 1);
$curve-ease-in: cubic-bezier(0.42, 0, 1, 1);
$curve-ease-out: cubic-bezier(0, 0, 0.58, 1);
$curve-ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);

@function spring-wobbly($t) {
  $E: math.$e;
  @return -0.5 * math.pow($E, (-6 * $t)) * (-2 * math.pow($E, (6 * $t)) + math.sin(12 * $t) + 2 * math.cos(12 * $t));
}

@function lerp($a, $b, $p) {
  @return $a+$p * ($b - $a);
}

// css变量导出
:export {
  pageWidth: $page-w;
  pageHeight: $page-h;
}