@import '../clear.scss';
@import './demo-kit.scss';

.status {
  width: 100%;
  height: $safe-h;
  display: flex;
  align-items: center;
  justify-content: end;
  position: absolute;
  z-index: 9;

  .time {
    @include font-height(34px);
    color: rgba($color-white, 0.7);
    margin: 0 40px 0 10px;
  }

  svg {
    width: 40px;
    height: 40px;
    fill: $color-white;
    opacity: 0.7;
    margin-right: 20px;
  }
}

.channel {
  height: 70px;
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: $safe-h;
  left: $safe-v;
  background: rgba($color-black, 0.2);
  border-radius: 20px;
  z-index: 9;
  &.highlight {
    background: rgba($color-black, 0.7);
    img,
    span {
      opacity: 1;
    }
  }

  img {
    height: 70px;
    opacity: 0.4;
  }

  span {
    @include font-height(30px);
    padding: 0 30px;
    color: $color-white;
    opacity: 0.4;
    mix-blend-mode: difference;
    &.mark {
      opacity: 1;
    }
  }

  .slider {
    width: 180px;
    height: 100%;
    position: absolute;
    background: $color-white;
    border-radius: 20px;
    z-index: -1;
  }
}
