// 文字
@font-face {
  font-family: EN;
  font-weight: 400;
  src: url('../../../public/fengos/demo/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: EN;
  font-weight: 700;
  src: url('../../../public/fengos/demo/fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: CN;
  src: local('PingFang SC'), local('Microsoft YaHei');
}

@mixin font-height($size, $isMulti: false) {
  @if $isMulti==true {
    font-size: $size;
    line-height: $size * 1.5;
  }

  @else {
    font-size: $size;
    line-height: $size;
  }
}

// 颜色
$color-bg: linear-gradient(to bottom, #525662, #3f444e);
$color-white: #fff;
$color-black: #292b2f;
$color-veil: #000;
$color-main: #26ebdb;

// 栅格
$safe-v: 80px;
$safe-h: 60px;
$grid-gap: 40px;
$grid-min: 10px;

// 卡片形状
@mixin shape($width: 100px, $shape: 16/9) {
  width: $width;

  @if type-of($shape)=='number' {
    height: math.floor($width / $shape);
  }

  @else if type-of($shape)=='string' {
    @if str-index($shape, 'metal')==1 {
      @for $i from 1 through 10 {
        @if $shape=='metal-'+#{$i} {
          height: math.floor($width / metallic-ratio($i));
        }
      }
    }

    @else {
      height: $width;
    }
  }
}

@function metallic-ratio($n) {
  @return ($n + math.sqrt($n * $n + 4)) / 2;
}

// 圆角
@mixin corner($corner: 10px) {
  border-radius: $corner;
  overflow: hidden;
}

// 阴影
@mixin shadow($depth: .7, $size: 'focus') {
  @if $size=='focus' {
    box-shadow: 0 40px 80px -10px rgba($color-veil, $depth);
  }

  @else if $size=='small' {
    box-shadow: 0 20px 40px 0 rgba($color-veil, $depth);
  }

  @else if $size=='def' {
    box-shadow: 0 5px 10px 0 rgba($color-veil, $depth - .3);
  }
}

// 常用样式
@mixin para-omit($line: 3) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}

// 通用页面
html {
  // overflow: hidden;
}

.page {
  width: 1920px;
  height: 1080px;
  background: $color-bg;
  font-family: EN, CN, sans-serif;
  position: relative;
  overflow: hidden;

  // transform: scale(0.5);
  transform-origin: 0 0;
}