@use 'sass:math';

// 文字
@font-face {
  font-family: EN;
  font-weight: 400;
  src: url('../../../public/fengos/demo/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: EN;
  font-weight: 700;
  src: url('../../../public/fengos/demo/fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: CN;
  src: local('PingFang SC'), local('Microsoft YaHei');
}

@mixin font-height($size, $isMulti: false) {
  @if $isMulti==true {
    font-size: $size;
    line-height: $size * 1.5;
  }

  @else {
    font-size: $size;
    line-height: $size;
  }
}

// 颜色
$color-bg: linear-gradient(to bottom, #525662, #3f444e);
$color-white: #fff;
$color-black: #292b2f;
$color-veil: #000;
$color-main: #26ebdb;

// 栅格
$page-w: 1920px;
$page-h: 1080px;
$safe-v: 80px;
$safe-h: 60px;
$grid-gap: 40px;
$grid-min: 10px;

// 圆角
$corner: 10px;

// 阴影
@mixin shadow($depth: .7, $size: 'focus') {
  @if $size=='focus' {
    box-shadow: 0 40px 80px -5px rgba($color-veil, $depth);
  }

  @else if $size=='small' {
    box-shadow: 0 20px 40px 0 rgba($color-veil, $depth);
  }

  @else if $size=='def' {
    box-shadow: 0 5px 10px 0 rgba($color-veil, $depth - .3);
  }
}

// 卡片形状
@mixin shape($width: 100px, $shape: 16/9) {
  width: $width;

  @if type-of($shape)=='number' {
    height: math.floor($width / $shape);
  }

  @else if type-of($shape)=='string' {
    @if str-index($shape, 'metal')==1 {
      @for $i from 1 through 10 {
        @if $shape=='metal-'+#{$i} {
          height: math.floor($width / metallic-ratio($i));
        }
      }
    }

    @else {
      height: $width;
    }
  }
}

@function metallic-ratio($n) {
  @return ($n + math.sqrt($n * $n + 4)) / 2;
}

// 动画曲线
$curve-stand: cubic-bezier(0.4, 0.0, 0.2, 1);
$curve-decel: cubic-bezier(0.0, 0.0, 0.2, 1);
$curve-accel: cubic-bezier(0.4, 0.0, 1.0, 1);
$curve-sharp: cubic-bezier(0.4, 0.0, 0.6, 1);
$curve-ease: cubic-bezier(0.25, 0.1, 0.25, 1);
$curve-ease-in: cubic-bezier(0.42, 0, 1, 1);
$curve-ease-out: cubic-bezier(0, 0, 0.58, 1);
$curve-ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);

@function spring-wobbly($t) {
  $E: math.$e;
  @return -0.5 * math.pow($E, (-6 * $t)) * (-2 * math.pow($E, (6 * $t)) + math.sin(12 * $t) + 2 * math.cos(12 * $t));
}

@function lerp($a, $b, $p) {
  @return $a+$p * ($b - $a);
}

// 放大倍数
@function grid-scale($width) {
  $scale: ($width + ($grid-gap - $grid-min) * 2) / $width;
  @return math.floor($scale * 100) / 100;
}

// 常用组件
@mixin para-omit($line: 3) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}

.status {
  width: 100%;
  height: $safe-h;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  z-index: 9;

  .time {
    @include font-height(34px);
    font-weight: 700;
    color: rgba($color-white, .7);
    margin: 0 40px 0 10px;
  }

  svg {
    width: 40px;
    height: 40px;
    fill: $color-white;
    opacity: .7;
    margin-right: 20px;
  }
}

// 通用页面
:focus {
  outline: none;
}

html {
  overflow: hidden;
}

.page {
  width: $page-w;
  height: $page-h;
  background: $color-bg;
  font-family: EN, CN, sans-serif;
  position: relative;
  overflow: hidden;
  transform-origin: 0 0;
}

.container {
  padding: 0 $safe-v;
}

// 导出js所需变量
:export {
  pageWidth: $page-w;
  pageHeight: $page-h;
}