@import '../clear.scss';
@import './demo-kit.scss';

.channel {
  height: 70px;
  position: absolute;
  top: $safe-h;
  left: $safe-v;
  background: rgba($color-black, .2);
  backdrop-filter: blur(2px);
  border-radius: $corner;
  isolation: isolate;
  z-index: 9;
  transition: background 200ms $curve-ease;

  .bar {
    display: inline-flex;
    align-items: center;
  }

  img {
    height: 70px;
    opacity: .4;
  }

  span {
    font-size: 30px;
    padding: 0 30px;
    color: $color-white;
    opacity: .4;
    mix-blend-mode: difference;
  }

  .slider {
    height: 4px;
    position: absolute;
    bottom: 0;
    background: $color-white;
    border-radius: $corner;
    z-index: -1;
    transform: scaleX(0.25);
    transition:
      height 350ms $curve-decel,
      transform 250ms $curve-ease,
      box-shadow 200ms $curve-ease;
  }

  &:focus-within {
    background: rgba($color-black, .7);
    backdrop-filter: blur(10px);

    img,
    span {
      opacity: 1;
    }

    .slider {
      height: 100%;
      @include shadow($size: 'small');
      transform: scaleX(1);
      // animation: slider-show 400ms linear;
      transition:
        height 150ms $curve-decel,
        transform 100ms $curve-ease,
        box-shadow 100ms $curve-ease;
    }
  }

  .item:focus,
  .item.mark {
    opacity: 1;
  }

  @keyframes slider-show {
    @for $i from 0 through 100 {
      #{$i * 1%} {
        height: lerp(4px, 70px, spring-wobbly($i / 100));
      }
    }
  }
}

.btn-search {
  width: 580px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 250px auto 0;
  background: rgba($color-white, .1);
  border-radius: $corner;
  transition:
    transform 200ms $curve-decel,
    box-shadow 200ms $curve-ease;

  svg {
    width: 40px;
    height: 40px;
    stroke: $color-white;
    margin-right: 20px;
    opacity: .6;
  }

  span {
    font-size: 30px;
    color: rgba($color-white, .7);
  }

  &:focus {
    background: $color-white;
    transform: scale(grid-scale(580px));
    @include shadow;

    svg {
      stroke: $color-black;
    }

    span {
      color: $color-black;
    }
  }
}

.tag {
  margin-top: 60px;
  display: flex;
  justify-content: center;

  li {
    font-size: 26px;
    line-height: 60px;
    padding: 0 30px;
    color: $color-white;
    background: rgba($color-white, .1);
    border-radius: $corner * 3;
    margin: 0 15px;
    transition: box-shadow 200ms $curve-ease;

    &:focus {
      color: $color-black;
      background: $color-white;
      @include shadow($size: 'small');
    }
  }
}