@import '../clear.scss';
@import './demo-kit.scss';

// 频道栏
#channel {
  height: 70px;
  position: absolute;
  top: $safe-h;
  left: $safe-v;
  background: rgba($color-black, .2);
  backdrop-filter: blur(2px);
  border-radius: $corner;
  isolation: isolate;
  z-index: 9;
  transition: all 400ms $curve-ease;

  .box {
    display: inline-flex;
    align-items: center;
  }

  img {
    height: 70px;
    opacity: .4;
  }

  span {
    font-size: 30px;
    padding: 0 30px;
    color: $color-white;
    opacity: .4;
    mix-blend-mode: difference;
  }

  #channel-slider {
    height: 4px;
    position: absolute;
    bottom: 0;
    background: $color-white;
    border-radius: $corner;
    z-index: -1;
    transform: scaleX(0.25);
    transition:
      height 350ms $curve-decel,
      transform 250ms $curve-ease,
      box-shadow 200ms $curve-ease;
  }

  &:focus-within {
    background: rgba($color-black, .7);
    backdrop-filter: blur(10px);

    img,
    span {
      opacity: 1;
    }

    #channel-slider {
      height: 100%;
      @include shadow($size: 'small');
      transform: scaleX(1);
      transition:
        height 150ms $curve-decel,
        transform 100ms $curve-ease,
        box-shadow 100ms $curve-ease;
    }
  }

  .item:focus,
  .item.mark {
    opacity: 1;
  }
}

// 搜索
#search-btn {
  width: 580px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 250px auto 0;
  background: rgba($color-white, .1);
  border-radius: $corner;
  transition:
    transform 200ms $curve-decel,
    box-shadow 200ms $curve-ease;

  svg {
    width: 40px;
    height: 40px;
    stroke: rgba($color-white, .6);
    margin-right: 20px;
  }

  span {
    font-size: 30px;
    color: rgba($color-white, .7);
  }

  &:focus {
    background: $color-white;
    transform: scale(grid-scale(580px));
    @include shadow;

    svg {
      stroke: $color-black;
    }

    span {
      color: $color-black;
    }
  }
}

#search-hot {
  margin-top: 60px;
  display: flex;
  justify-content: center;

  .item {
    font-size: 26px;
    line-height: 60px;
    padding: 0 30px;
    color: $color-white;
    background: rgba($color-white, .1);
    border-radius: $corner*3;
    margin: 0 15px;
    transition: box-shadow 200ms $curve-ease;

    &:focus {
      color: $color-black;
      background: $color-white;
      @include shadow($size: 'small');
    }
  }
}

// 排行榜
#search {
  $time: 250ms;

  .container {
    transition: transform $time*1.4 $curve-decel;
  }

  #search-btn,
  #search-hot {
    transition: opacity $time*2 $curve-ease;
  }

  &.fullscreen {
    .container {
      transform: translateY(-420px);
    }

    #search-btn,
    #search-hot {
      opacity: 0;
      transition: opacity $time/5 $curve-ease;
    }
  }

  #rank {
    margin-top: 150px;
    display: inline-flex;

    &:focus-within {
      section {
        width: calc(1700px - #{$safe-v});
        opacity: .5;

        &:nth-child(2),
        &:nth-child(3) {
          justify-content: start;
        }

        &:nth-child(n+4) {
          display: flex;
        }

        .item:nth-child(n+5) {
          display: flex;
        }

        &:focus-within {
          opacity: 1;

          h1 {
            opacity: .9;
          }

          .item {
            opacity: .5;

            .title {
              height: 60px;
            }

            .avatar {
              @include card(90px, 1);
            }

            h2 {
              font-size: 34px;
            }

            &:focus {
              opacity: 1;

              .title {
                height: 120px;
              }

              .avatar {
                @include card(180px, 1);
              }
            }
          }
        }
      }
    }

    section {
      width: ($page-w - $safe-v*2)/3;
      display: flex;
      transition: width $time*1.4 $curve-decel, opacity $time $curve-ease;

      h1 {
        font-family: TITLE;
        font-weight: bold;
        @include font-height(38px);
        color: $color-white;
        margin-bottom: 50px;
        opacity: .7;
        transition: opacity $time $curve-ease;
      }

      &:nth-child(2) {
        justify-content: center;
      }

      &:nth-child(3) {
        justify-content: end;
      }

      &:nth-child(n+4) {
        display: none;
      }

      .box {
        display: inline-block;
      }
    }

    .item {
      margin-top: 50px;
      display: flex;
      transition: opacity $time $curve-ease;

      .num {
        font-family: NUM;
        @include font-height(50px);
        color: $color-white;
        margin-right: 20px;
        opacity: .7;
      }

      .title {
        height: 70px;
        transition: height $time $curve-decel;
      }

      .avatar {
        @include card(70px, 1);
        border-radius: 50%;
        overflow: hidden;
        transition: all $time $curve-decel;
      }

      .name {
        font-size: 30px;
        color: $color-white;
        margin-left: 20px;
        transition: font-size $time $curve-ease;
      }

      &:nth-child(n+5) {
        display: none;
      }
    }

    .artist {
      display: flex;
      align-items: center;
    }
  }
}