// 首页（作品集、项目、关于）的通用样式

@import './base.scss';

// 颜色应用
$colorBg: $colorNeural2;
$colorPrimary: $colorOrange;

$colorFont1: $colorNeural0;
$colorFont2: $colorNeural8;
$colorFont3: $colorNeural4;
$colorFont4: $colorNeural1;

body {
  background: $colorBg;
  // padding-top: 8rem; // 预留导航栏位置
}

// 导航栏
:root {
  --colorNavBg: rgba(245, 245, 245, .9);
}

@media (prefers-color-scheme: dark) {
  :root {
    --colorNavBg: rgba(36, 36, 36, .9);
  }
}

.header-wrapper {
  width: 100%;
  background-color: var(--colorNavBg);
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
  z-index: 999;
  position: fixed;
  top: 0;
  transition: top 350ms $curveDecel;
}

.header-wrapper.hide {
  top: -8rem;
  transition: top 350ms $curveAccel;
}

.header-wrapper.no-bg {
  background-color: transparent;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

.nav {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo svg {
  width: 4.2rem;
  height: 4.2rem;
  fill: $colorNeural0;
}

.menu {
  display: grid;
  grid-auto-flow: column;
  gap: 5rem;
  // grid-template-columns: 5.8rem 9.1rem;
  // justify-items: center;
}

// 默认状态
.menu a {
  font-size: 2rem;
  font-weight: 300;
  color: $colorFont1;
  position: relative;
  transition: font-weight 150ms $curveEaseInOut;

  &::after {
    content: '';
    width: 0;
    height: 0.25rem;
    background-color: $colorNeural9;
    position: absolute;
    left: 50%;
    bottom: -0.6rem;
    transition: all 150ms $curveEaseInOut;
  }
}

// 选中状态
.menu a.active {
  font-weight: 400;

  &::after {
    width: 36%;
    left: 32%;
  }
}

// 悬停状态
.menu a:hover,
.menu a:active {
  font-weight: 500;
  color: $colorPrimary;

  &::after {
    width: 80%;
    left: 10%;
    background-color: $colorPrimary;
  }
}

// 页脚
.footer-wrapper {
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: $colorNeural3;
    opacity: .5;
    z-index: -2;
  }
}

.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.5rem 0 9rem;
  position: relative;

  // Magic Space 底纹通过mask遮罩实现
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: $colorFont4;
    mask: url('/public/pics/magic-space.svg') no-repeat bottom center / contain;
    opacity: .3;
    z-index: -1;
  }
}

.copyright {
  display: inline-flex;
  align-items: center;

  svg {
    fill: $colorNeural8;
    width: 7rem;
    height: 7rem;

    @include deviceTablet {
      width: 9rem;
      height: 9rem;
    }
  }

  p {
    color: $colorFont1;
    font-size: 1.6rem;
    font-weight: 300;
    white-space: nowrap;
    line-height: 1.7;
    margin-left: 1rem;

    @include deviceTablet {
      line-height: 2;
      margin-left: 2rem;
    }
  }
}

.social {
  display: grid;
  grid-template-columns: repeat(3, 4rem);
  grid-template-rows: 4rem;
  gap: 1.6rem;

  @include deviceTablet {
    grid-template-columns: repeat(3, 4.5rem);
    grid-template-rows: 4.5rem;
    gap: 3rem;
  }

  svg {
    fill: $colorNeural7;
    width: 100%;
    height: 100%;
  }
}