@import './vars.scss';

// 根尺寸
html {
  font-size: 7px;
}

// 内容区尺寸
main,
nav {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  width: calc(100% - 2*3rem);
  // background-color: rgba(#f0f, .2);

  @include deviceMobile {
    width: calc(100% - 2*8rem);
    // background-color: rgba(#0f0, .2);
  }

  @include deviceTablet {
    width: calc(100% - 2*12rem);
    // background-color: rgba(rgb(0, 8, 255), .2);
  }

  @include devicePC {
    width: calc(100% - 2*16rem);
    // background-color: rgba(#f00, .2);
  }
}

// 颜色
$colorBg: $colorNeural2;
$colorPrimary: $colorOrange;

$colorFont1: $colorNeural0;
$colorFont2: $colorNeural8;
$colorFont3: $colorNeural4;
$colorFont4: $colorNeural1;

body {
  background: $colorBg;
}

// 文字
html {
  font-family: CN, sans-serif;
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 8rem;
}

h3 {
  font-size: 6rem;
}

p {
  font-size: 2rem;
}

// 导航栏
body {
  padding-top: 8rem; // 预留导航栏位置
}

.nav-wrapper {
  width: 100%;
  background-color: rgba($colorNeural1, .88);
  backdrop-filter: blur(.8rem);
  -webkit-backdrop-filter: blur(.8rem);
  position: fixed;
  top: 0;
}

.nav-wrapper.no-bg {
  background-color: transparent;
}

.nav-wrapper>nav {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-flex;
  height: 90%;
}

.menu {
  display: inline-flex;
  align-items: center;

  li {
    margin-left: 5rem;
  }
}

// 默认状态
.menu a {
  font-size: 2rem;
  font-weight: 300;
  line-height: 150%;
  color: $colorFont1;
  position: relative;
  transition: font-weight 150ms $curveEaseInOut;

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0.25rem;
    background-color: $colorNeural9;
    position: absolute;
    left: 50%;
    bottom: -0.6rem;
    transition: all 150ms $curveEaseInOut;
  }
}

// 选中状态
.menu a.active {
  font-weight: 400;

  &::after {
    width: 36%;
    left: 32%;
  }
}

// 悬停状态
.menu a:hover,
.menu a:active {
  font-weight: 500;
  color: $colorPrimary;

  &::after {
    width: 90%;
    left: 5%;
    background-color: $colorPrimary;
  }
}