@import './vars.scss';

// 根尺寸
html {
  @include deviceMobile {
    font-size: 18px;
  }

  @include deviceTabletMini {
    font-size: 9px;
  }

  @include deviceTablet {
    font-size: 8px;
  }

  @include devicePC {
    font-size: 7px;
  }
}

// 内容区栅格
main {
  margin: 0 auto;
}

main,
nav {
  @include deviceMobile {
    width: calc($deviceWidthMin - 2*3rem);
    // background-color: rgba(#f0f, .2);
  }

  @include deviceTabletMini {
    width: calc(100% - 2*5rem);
    // background-color: rgba(#0f0, .2);
  }

  @include deviceTablet {
    width: calc(100% - 2*8rem);
    // background-color: rgba(#ff0, .2);
  }

  @include devicePC {
    width: calc($deviceWidthMax - 2*20rem);
    // background-color: rgba(#f00, .2);
  }
}

// 文字
html {
  font-family: CN, sans-serif;
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 8rem;
}

h3 {
  font-size: 6rem;
}

p {
  font-size: 2rem;
}

// 导航栏
.header {
  display: flex;
  justify-content: center;
  height: 8rem;
  width: 100%;
  background-color: rgba($colorLight1, .88);
}

.header>nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 100%;
}

.menu {
  display: inline-flex;
  align-items: center;

  li {
    margin-left: 6rem;
  }

  a {
    font-size: 2rem;
    font-weight: 300;
    line-height: 150%;
    color: $colorLight0;
    position: relative;
    transition: font-weight 150ms $curveEaseInOut;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 0.25rem;
      background-color: $colorLight9;
      position: absolute;
      left: 50%;
      bottom: -0.6rem;
      transition: all 150ms $curveEaseInOut;
    }

    &.current {
      font-weight: 400;

      &::after {
        width: 36%;
        left: 32%;
      }
    }

    &:hover {
      font-weight: 500;
      color: $colorMain;

      &::after {
        width: 90%;
        left: 5%;
        background-color: $colorMain;
      }
    }
  }
}