@import './vars.scss';

// 栅格
main {
  margin: 0 auto;
}

// PC最大宽度
@media screen and (min-width: 1440px) {
  html {
    font-size: 8px;
  }

  nav,
  main {
    width: calc(1440px - 2*7rem);
    // background-color: rgba(#f00, .2);
  }
}

// Pad横屏
@media screen and (max-width: 1439px) and (min-width: 981px) and (orientation: landscape) {
  html {
    font-size: 8px;
  }

  nav,
  main {
    width: calc(100% - 2*6rem);
    // background-color: rgba(#ff0, .2);
  }
}
@media screen and (max-width: 980px) and (orientation: landscape) {
  html {
    font-size: 6px;
  }

  nav,
  main {
    width: calc(100% - 2*8rem);
    // background-color: rgba(#0f0, .2);
  }
}

// Phone最小宽度 & Pad竖屏
@media screen and (max-width: 980px) and (orientation: portrait) {
  html {
    font-size: 16px;
  }

  nav,
  main {
    width: calc(980px - 2*3rem);
    // background-color: rgba(#f0f, .2);
  }
}

// 文字
@font-face {
  font-family: CN;
  src: url('/public/fonts/NotoSansSC-VariableFont.ttf'), local('PingFang SC'), local('Microsoft YaHei');
}

@font-face {
  font-family: EN;
  src: url('/public/fonts/Lexend-VariableFont.ttf');
}

html {
  font-family: CN, sans-serif;
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 8rem;
}

h3 {
  font-size: 6rem;
}

p {
  font-size: 2rem;
}

// 导航栏
header {
  display: flex;
  justify-content: center;
  height: 8rem;
  width: 100%;
  background-color: rgba($colorLight1, .88);
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 100%;
}

.menu {
  display: inline-flex;
  align-items: center;

  li {
    font-size: 2rem;
    margin-left: 8rem;
  }
}