@import './home.scss';

.projects-wrapper {
  padding: 6rem 0 12rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem 3%;

  @include deviceTablet {
    grid-template-columns: 1fr;
  }
}

.project {
  color: $colorFont1;

  .cover {
    width: 100%;
  }

  .title {
    font-size: 3.2rem;
  }

  .role {
    font-size: 2rem;
  }
}