@import './demo-kit.scss';

.status {
  svg {
    width: 40px;
    height: 40px;
    fill: $color-white;
    opacity: .5;
  }
}

.channel {
  svg {
    width: 120px;
    height: 70px;
    fill: url(#gradient-search);
  }
}