// @import './clear.scss';
@import './style.scss';

body {
  font-family: $font-en, sans-serif;
  background: $color-light;
  // background-color: gray;
}
.logo {
  width: 150px;
  height: 150px;
}
.me {
  font-size: 0.6rem;
}