// 字体
@font-face {
  font-family: EN;
  src: url('../../public/fonts/Lexend-Regular.ttf');
}

@font-face {
  font-family: EN-MID;
  src: url('../../public/fonts/Lexend-Medium.ttf');
}

@font-face {
  font-family: EN-BOLD;
  src: url('../../public/fonts/Lexend-ExtraBold.ttf');
}

@font-face {
  font-family: EN-THIN;
  src: url('../../public/fonts/Lexend-Thin.ttf');
}

// 字重
@mixin font-en($weight) {
  @if $weight=='mid' {
    font-family: EN-MID, sans-serif;
  }

  @else if $weight=='bold' {
    font-family: EN-BOLD, sans-serif;
  }

  @else if $weight=='thin' {
    font-family: EN-THIN, sans-serif;
  }

  @else {
    font-family: EN, sans-serif;
  }
}

// 字号
html {
  font-size: 100px;
}

// 颜色
$color-main: rgb(129, 56, 224);
$color-dark: #a3a3a3;
$color-light: #f4f4f4;