// 字体
@font-face {
  font-family: EN;
  src: url('./fonts/Lexend-Regular.ttf') format('truetype');
}

html {
  font-family: EN, sans-serif;
  font-size: 100px;
}

// 颜色
$color-main: rgb(129, 56, 224);
$color-dark: #a3a3a3;
$color-light: #f4f4f4;