// 字体
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap');

// @font-face {
  // font-family: EN;
  // src: url('/fonts/Lexend-Bold.ttf'), url('/fonts/Lexend-ExtraBold.ttf'), url('/fonts/Lexend-Light.ttf'), url('/fonts/Lexend-Medium.ttf'), url('/fonts/Lexend-Regular.ttf'), url('/fonts/Lexend-SemiBold.ttf'), url('/fonts/Lexend-Thin.ttf');
  // src: url('/fonts/Lexend-Bold.ttf');
// }

$font-en: 'Lexend';

html {
  font-family: $font-en, sans-serif;
  font-size: 100px;
}

// 颜色
$color-main: rgb(129, 56, 224);
$color-dark: #a3a3a3;
$color-light: #f4f4f4;